#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %p
  %b Name:
  = @farm.name
 %p
  %b Address:
  = "#{@farm.address.street} #{@farm.address.suite} #{@farm.address.city}"
 %p
  %b Contact:
  = @farm.contact
 %p
  %b Phone:
  = @farm.phone
 
 %br
 - if can? :edit, Farm 
  = link_to 'Edit', edit_farm_path(@farm)
 - if can? :show, Farm 
  \|
  = link_to 'Back', farms_path
