#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %h1= and_show_count_of @order_statuses
 %span.small_red_italics Caution. Changes may break existing order data. To be safe, email changes to Joel.
 %table{:id => 'order_statuses_table', :class => 'tablesorter' }
  %thead
   %tr
    %th Title
    %th Description
    %th Updated by
    %th Created by
    %th
    %th

  %tbody
   - @order_statuses.each do |order_status|
    %tr
     - if can? :read, OrderStatus
      %td{:style=>'width:250px'}= link_to order_status.title, order_status
     - else
      %td{:style=>'width:250px'}= order_status.title
     %td= order_status.description
     %td= order_status.updater.username
     %td= order_status.creator.username
     %td= link_to 'Edit', edit_order_status_path(order_status)
     %td= link_to 'Destroy', order_status, :method => :delete, :data => { :confirm => 'Are you sure?' }

 %br
 - if can? :create, OrderStatus 
  = link_to 'New Order Status', new_order_status_path
