- # = form_for @note do |f|
= form_for @note, {:url => notes_path(@note), :method => :post} do |f|
 = f.hidden_field :notable_id, :value => @note_owner.id
 = f.hidden_field :notable_type, :value => 'Customer' 
 = f.hidden_field :type, :value => @type_of_note 
 - if @note.errors.any?
  = render :partial => 'shared/error_explanation', :object => @note, :as => :object

 .field
  = f.label :content
  = f.text_field :content

 .actions
  = f.submit 'Save'
