- # = form_for @note do |f|
= form_for(@note, :url => note_path(@note)) do |f|
 - if @note.errors.any?
  = render :partial => 'shared/error_explanation', :object => @note, :as => :object

 .field
  = f.label :content
  = f.text_field :content

 .actions
  = f.submit 'Save'
