- unless @notes.empty?
 %table{:id => 'notes_table', :class => 'tablesorter' }
  %thead
   %tr
    %th Type 
    %th Content
    %th Notable 
    %th NID 
    - if can? :update, Note
     %th
    - if can? :destroy, Note
     %th

  %tbody
   - @notes.each do |note|
    %tr
     %td= note.type
     - if can? :read, Note
      %td= link_to note.get_content, note_path(note) 
     - else
      %td= note.get_content
     %td= note.notable_type
     %td= note.notable_id
     - if can? :update, Note
      %td= link_to 'Edit', edit_note_path(note)
     - if can? :destroy, Note
      %td= link_to 'Destroy', note_path(note), :method => :delete, :data => { :confirm => 'Are you sure?' }
