%div.span2
 = render 'shared/sidebar_menu'
%div.span10
 %h1= "Editing #{@note.owner.class} Note"
  
 = render 'edit_form'
 %br
 %br
 - # = @note.owner.inspect
 = @note.owner.blurb
 %br
 %br
 - if can? :read, Note 
  = link_to 'Show', note_path(@note)
  \|
  = link_to 'All Notes', notes_path
 - if can? :read, @note.owner.class 
  - if @note.notable_type == 'Order'
   \|
   = link_to "Back to #{@note.owner.class.to_s}", send("customer_#{@note.owner.class.to_s.downcase}_path", @note.owner.customer.id, @note.owner.id)
   \|
   = link_to "Back to Customer", customer_path(@note.owner.customer.id)
  - if @note.notable_type == 'Customer'
   \|
   = link_to "Back to #{@note.owner.class.to_s}", send("#{@note.owner.class.to_s.downcase}_path", @note.owner.id)
