= form_for @fabric, :html => {:id => 'new_fabric_form'}  do |f|
 - if @fabric.errors.any?
  = render :partial => 'shared/error_explanation', :object => @fabric, :as => :object

 .field
  = f.label :name
  = f.text_field :name, :id => 'name'
 = f.fields_for :prices do |builder|
  .field
   = builder.label :date
   = builder.text_field :date, :id => 'date_datepicker'
  .field
   = builder.label :amount, "Per-Yard Price"
   = builder.text_field :amount
 .actions
  = f.submit 'Save', :id => 'fabric_form_button'
