%div.span2
 = render 'shared/sidebar_menu'
%div.span10
 %h1= and_show_count_of @fabrics

 - if can? :create, Fabric
  = link_to 'New Fabric', new_fabric_path

 - unless @fabrics.empty?
  %table{:id => 'fabrics_table', :class => 'tablesorter' }
   %thead
    %tr
     %th ID 
     %th Name
     %th Price 
     %th Created By 
     %th Updated By 
     - if can? :update, Fabric
      %th
      %th
   
   %tbody
    - @fabrics.each do |fabric|
     %tr
      %td= fabric.id
      - if can? :read, Fabric 
       %td= link_to fabric.name, fabric
      - else
       %td= fabric.name
      %td= number_to_currency(cents_to_dollars(fabric.current_price), :precision => 2)
      %td= fabric.creator.username
      %td= fabric.updater.username
      - if can? :update, Fabric
       %td= link_to 'Edit', edit_fabric_path(fabric)
       %td= link_to 'Destroy', fabric, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
