#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1= and_show_count_of @tasks
 - unless @tasks.empty?
  %table{:id => 'tasks_table', :class => 'tablesorter' }
   %thead
    %tr
     %th{:style=>'width:100px'} Task
     %th{:style=>'width:300px'} Description
     %th Assigned to
     %th Due 
     %th Status
     %th Completed on
     %th Completed by
     - if can? :update, Task 
      %th
      %th

   %tbody
    - @tasks.each do |task|
     %tr
      - if can? :read, Task 
       %td{:style=>'width:100px'}= link_to task.title, task
      - else
       %td{:style=>'width:100px'}= task.title
      %td{:style=>'width:300px'}= task.description 
      %td= task.assigned_to.blank? ? '---' : task.assignee
      %td= mmddyy_date task.due_date
      %td= task.status.name
      %td= task.completed_on.blank? ? '---' : task.completed_on
      %td= task.completed_by.blank? ? '---' : task.completer
      - if can? :update, Task 
       %td= link_to 'Edit', edit_task_path(task)
       %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

 %br
 - if can? :create, Task 
  = link_to 'New Task', new_task_path
