= form_for @email_type do |f|
  - if @email_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@email_type.errors.count, "error")} prohibited this email_type from being saved:"
      %ul
        - @email_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    .width_medium
      = f.label :name
    = f.text_field :name
  .field
    .width_medium
      = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'
