= form_for([@customer, @customer_address], :html => { :id => 'new_customer_address_form' }) do |f|
  - if @customer_address.errors.any?
    = render :partial => 'shared/error_explanation', :object => @customer_address, :as => :object

  = f.hidden_field :customer_id, :value => @customer.id
  .field
    .width_medium
      = f.label :address_type_id
    = f.select :address_type_id, AddressType.order('name asc').all.collect { |t| [t.name, t.id]}, {:include_blank => true }, :id => 'address_type'
  .field
    .width_medium
      = f.label :name
    = f.text_field :name, :id => 'name'
  .field
    .width_medium
      = f.label :line_one
    = f.text_field :line_one, :id => 'line_one'
  .field
    .width_medium
      = f.label :line_two
    = f.text_field :line_two
  .field
    .width_medium
      = f.label :suite
    = f.text_field :suite
  .field
    .width_medium
      = f.label :city
    = f.text_field :city, :id => 'city'
  .field
    .width_medium
      = f.label :state
    = f.select :state, us_states, :id => 'state'
  .field
    .width_medium
      = f.label :zip
    = f.text_field :zip, :id => 'zip'
  .actions
    = f.submit 'Save'
