
%table{:id => 'customer_addresses_table', :class => 'tablesorter' }
 %thead
  %tr
   %th Customer
   %th Type
   %th Name 
   %th Line one
   %th Line two
   %th Suite
   %th City
   %th State
   %th Zip
   - if can? :read, CustomerAddress
    %th
   - if can? :update, CustomerAddress
    %th

 %tbody
  - @customer_addresses.each do |customer_address|
   %tr
    - if can? :read, CustomerAddress 
     %td= link_to customer_address.customer.fullname, customer_path(customer_address.customer.id)
    - else
     %td= customer_address.customer.fullname 
    %td= customer_address.type.name
    %td= customer_address.name
    %td= customer_address.line_one
    %td= customer_address.line_two
    %td= customer_address.suite
    %td= customer_address.city
    %td= customer_address.state
    %td= customer_address.zip
    %td= link_to 'Show', customer_customer_address_path(customer_address.customer.id, customer_address)
    %td= link_to 'Edit', edit_customer_customer_address_path(customer_address.customer.id, customer_address)
    - # = link_to 'Destroy', customer_customer_address_path, :method => :delete, :data => { :confirm => 'Are you sure?' }
