= form_for @user do |f|
 - if @user.errors.any?
  = render :partial => 'shared/error_explanation', :object => @user, :as => :object

 - if current_user.username == 'joel' 
  /- unless is_joel?
  .field
   .width_medium
    = f.label :username
   = f.text_field :username
  .field
   .width_medium
    = f.label :email
   = f.text_field :email
  .field
   .width_medium
    = f.label :active
   = f.check_box :active
  .field
   .width_medium
    = f.label :role_id
   = f.select :role_id, Role.all.collect {|r| [r.name, r.id]}
 .field
  .width_medium
   = f.label :password
  = f.password_field :password
 .field
  .width_medium
   = f.label :password_confirmation
  = f.password_field :password_confirmation
 .actions
  = f.submit 'Save'
