:javascript
 $(document).ready(function() 
  { 
   $("#users_table").tablesorter({
    sortList: [[0,0], [1,0]],
    widgets: ['zebra'],
    headers: { 4: { sorter: false }, 5: { sorter: false }, 6: { sorter: false } }
   });
  } 
 );

#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1= and_show_count_of @users
 - unless @users.empty? 
  %table{:id => 'users_table', :class => 'tablesorter' }
   %thead
    %tr
     %th Username
     %th Email
     %th Active
     %th Role
     %th
     %th
     %th
 
   %tbody
    - @users.each do |user|
     %tr
      %td= user.username
      %td= user.email
      %td= user.active
      %td= user.role.name
      %td
       - if can? :read, User
        = link_to 'Show', user
      %td
       - if(can? :edit, user) && (user != current_user)
        = link_to 'Edit', edit_user_path(user)
      %td
       - if can? :destroy, User
        = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
 
 %br
 - if can? :create, User
  = link_to 'New User', new_user_path
 %br
 %br
 %h3 Todos
 %ul
  %li event type and events: paid, not paided, sent scarf, etc.
  %li partial payments.  additional payment
  %li multiple scarf types to one order
  %li inventory location
  %li wholesale inventory location
  %li customer name unique check
  

