/ = form_for @customer, {:url => process_purchase(@customer), :method => :post} do |f|
= form_for @customer, :url => create_purchase_path, :method => :post, :html => {:id => 'new_order_form'} do |f|
 - if @customer.errors.any?
  = render :partial => 'shared/error_explanation', :object => @customer, :as => :object

 %h4 General
 .field
  .width_medium
   = f.label :firstname
  = f.text_field :firstname, :id => 'firstname'
 .field
  .width_medium
   = f.label :lastname
  = f.text_field :lastname, :id => 'lastname'
 .field
  .width_medium
   = f.label :email
  = f.text_field :email, :id => 'email'
 .field
  .width_medium
   = f.label :description
  = f.text_field :description, :id => 'description'
 = f.fields_for :todos do |builder|
  .field
   .width_medium
    = builder.label :content, 'Todo'
   = builder.text_field :content, :size => 50, :maxlength => 50
 = f.fields_for :fyis do |builder|
  .field
   .width_medium
    = builder.label :content, 'FYI'
   = builder.text_field :content, :size => 50, :maxlength => 50

 %h4 Shipping Address
 %span.small_red_italics (If a second address is required, you can create additional addresses in the customers page.)
 = f.fields_for :addresses do |a|
  .field
   .width_medium
    = a.label :address_type_id
   = a.select :address_type_id, AddressType.order('name asc').all.collect { |t| [t.name, t.id]}, {:include_blank => true }, :id => 'address_type'
  .field
   .width_medium_2
    = a.label :name, "Nickname (eg: 'Home')"
   = a.text_field :name, :id => 'name'
  .field
   .width_medium_2
    = a.label :line_one, "Line 1 (eg: '123 Main St.')"
   = a.text_field :line_one, :id => 'line_one'
  .field
   .width_medium_2
    = a.label :line_two, "Line 2 (eg: 'c/o front desk')"
   = a.text_field :line_two
  .field
   .width_medium
    = a.label :suite
   = a.text_field :suite
  .field
   .width_medium
    = a.label :city
   = a.text_field :city, :id => 'city'
  .field
   .width_medium
    = a.label :state
   = a.select :state, us_states, :id => 'state'
  .field
   .width_medium
    = a.label :zip
   = a.text_field :zip, :id => 'zip'

 %h4 Order Information 
 = f.fields_for :orders do |builder|
  .field
   .width_medium
    = builder.label :purchase_date, 'Purchase Date'
   = builder.text_field :purchase_date, :id => 'purchase_date_datepicker'
  = builder.fields_for :fyis do |bb|
   .field
    .width_medium
     = bb.label :content, 'Note'
    = bb.text_field :content, :size => 50, :maxlength => 50
  - count = 0
  = builder.fields_for :line_items do |line_item|
   %div{:class=>'field', :id => "product_#{count}", :style=>'width:700px;'}
    = line_item.label :product
    = line_item.select :product_id, Product.order('name asc').all.collect {|p| ["#{p.name } - $#{("%0.02f" % (p.price/100.0))}", p.id]}, {:include_blank => true}
    = line_item.label :quantity
    = line_item.text_field :quantity, :size => 5, :maxlength => 5
    - unless f.object.new_record?
     = builder.check_box :_destroy
     = builder.label :_destroy, "Remove"
     - # if count < f.object.orders.length-1
    - if count < builder.object.line_items.length-1
     %div{:id => "additional_line_item_#{count}", :class => 'open_another_item'}
      = link_to "+1", :remote => true 
   - count += 1

  .field
   .width_medium
    = builder.label :paid_amount
   = builder.text_field :paid_amount
  
 .actions
  = f.submit 'Save', :id => 'order_form_button'
