/ = form_for @customer, {:url => process_purchase(@customer), :method => :post} do |f|
= form_for @customer, :url => create_purchase_path, :method => :post, :html => {:id => 'new_order_form'} do |f|
 /- if @product.errors.any?
 / = render :partial => 'shared/error_explanation', :object => @product , :as => :object

 .field
  = f.label :firstname
  = f.text_field :firstname, :id => 'firstname'
 .field
  = f.label :lastname
  = f.text_field :lastname, :id => 'lastname'
 .field
  = f.label :email
  = f.text_field :email, :id => 'email'
 .field
  = f.label :description
  = f.text_field :description, :id => 'description'
 = f.fields_for :todos do |builder|
  .field
   = builder.label :content, 'Todo'
   = builder.text_field :content, :size => 30, :maxlength => 30
 = f.fields_for :fyis do |builder|
  .field
   = builder.label :content, 'Fyi'
   = builder.text_field :content, :size => 30, :maxlength => 30
 = f.fields_for :orders do |builder|
  .field
   = builder.label :purchase_date, 'Purchase Date'
   = builder.date_select :purchase_date, :id => 'purchase_date'
  - count = 0
  = builder.fields_for :line_items do |line_item|
   %div{:class=>'field', :id => "product_#{count}", :style=>'width:650px;'}
    = line_item.label :product
    = line_item.select :product_id, Product.order('name asc').all.collect {|p| ["#{p.name } - $#{("%0.02f" % (p.price/100.0))}", p.id]}, {:include_blank => true}
    = line_item.label :quantity
    = line_item.text_field :quantity, :size => 5, :maxlength => 5
    - unless f.object.new_record?
     = builder.check_box :_destroy
     = builder.label :_destroy, "Remove"
     - # if count < f.object.orders.length-1
    - if count < builder.object.line_items.length-1
     %div{:id => "additional_line_item_#{count}", :class => 'open_another_item'}
      = link_to "Another Product?", :remote => true 
   - count += 1


  .field
   = builder.label :paid_amount
   = builder.text_field :paid_amount
  
 .actions
  = f.submit 'Save', :id => 'order_form_button'
