%h2 Actions
%ul
 - if can? :read, Customer 
  %li= link_to 'New Purchase', new_purchase_path
 - if can? :read, Customer 
  %li= link_to 'Customers', customers_path
 - if can? :read, Fabric 
  %li= link_to 'Fabrics', fabrics_path
 - if can? :read, Product
  %li= link_to 'Products', products_path
 - if can? :read, Order 
  %li= link_to 'Orders', orders_path
 - if can? :read, Note 
  %li= link_to 'Notes', notes_path
 - if can? :read, Retailer 
  %li= link_to 'Retailers', retailers_path
 - if can? :read, Farm 
  %li= link_to 'Farms', farms_path
 - if can? :read, Address 
  %li= link_to 'Addresses', addresses_path
%h2 Joel Only 
%ul
 - if can? :read, Role 
  %li= link_to 'Roles', roles_path
 - if can? :read, User 
  %li= link_to 'Users', users_path
 - if can? :create, Product
  %li= link_to 'Payment', :payment 
