= form_for @retailer do |f|
 - if @retailer.errors.any?
  = render :partial => 'shared/error_explanation', :object => @retailer, :as => :object

 .field
  .width_medium
   = f.label :name
  = f.text_field :name
 .field
  .width_medium
   = f.label :address_id
  = f.select :address_id, Address.order('street asc').all.collect { |a| [a.street, a.id]}, {:include_blank => true }
 .field
  .width_medium
   = f.label :contact
  = f.text_field :contact
 .field
  .width_medium
   = f.label :phone
  = f.text_field :phone
 .actions
  = f.submit 'Save'
