:css
 #main_canvas {
  width: 100%;
  height: 100%;
 }

= image_tag 'background_2.jpg', :id => 'under_incubation_jpg', :alt => 'uNido: Under Incubation', :style => 'display:none;'
%canvas{:width => 1900, :height => 1319, :id => 'main_canvas'}

:javascript
 var c=document.getElementById("main_canvas");
 var ctx=c.getContext("2d");
 var img=document.getElementById("under_incubation_jpg");
 ctx.shadowBlur = 30;
 ctx.shadowColor = "#333";
 ctx.drawImage(img,0,0, 1800, 1219);
 
 img.onload = function() {
  ctx.drawImage(img,50,50, 1800, 1219);
 }
%h1{:style=>'color:white;'} hello there
#signup_form{:style=>'padding:5px;width:500px;background-color:#acc;height:250px;'}
 %div{:style=>'padding:5px;width:300px;background-color:#eee;height:50px;'}
  %p#notice= flash[:email_signup_notice]
 = form_tag('/email_signup', :id => 'email_signup_form') do
  = text_field_tag 'color', nil, {:style=>'margin:3px;display:none;'}
  = label_tag 'email', 'Email'
  = text_field_tag 'email', nil, :placeholder => 'Enter email address.', :size => 30, :maxlength => 30
  - # = submit_tag raw('&nbsp; Submit &nbsp;'), :id => 'signup_form', :class => 'button', :disable_with => disable_with_text
  = submit_tag raw('&nbsp; Submit &nbsp;'), :id => 'signup_form', :class => 'button', :disable_with => 'DISABLED?' 

