= form_for @customer, :html => {:id => 'new_customer_form'} do |f|
 - if @customer.errors.any?
  = render :partial => 'shared/error_explanation', :object => @customer, :as => :object

 .field
  .width_medium
   = f.label :firstname
  = f.text_field :firstname, :id => 'firstname'
 .field
  .width_medium
   = f.label :lastname
  = f.text_field :lastname, :id => 'lastname'
 .field
  .width_medium
   = f.label :email
  = f.text_field :email, :id => 'email'
 .field
  .width_medium
   = f.label :description
  = f.text_field :description, :id => 'description'
 = f.fields_for :todos do |builder|
  .field
   .width_medium
    = builder.label :content, 'Todo'
   = builder.text_field :content, :size => 30, :maxlength => 30
 = f.fields_for :fyis do |builder|
  .field
   .width_medium
    = builder.label :content, 'Fyi'
   = builder.text_field :content, :size => 30, :maxlength => 30

 .actions
  = f.submit 'Save', :id => 'customer_form_button'
