#scan_column
 = render 'shared/sidebar_menu'
#content 
 %h1 Listing customers
 
 %table
  %tr
   %th Firstname
   %th Lastname
   %th Email
   %th Description
   %th
   %th
   %th
 
  - @customers.each do |customer|
   %tr
    %td= customer.firstname
    %td= customer.lastname
    %td= customer.email
    %td= customer.description
    %td= link_to 'Show', customer
    %td= link_to 'Edit', edit_customer_path(customer)
    %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }
 
 %br
 
 = link_to 'New Customer', new_customer_path
