#scan_column
 = render 'shared/sidebar_menu'
#content
 %p
  %b Name:
  = @customer.fullname
 %p
  %b Email:
  = @customer.email
 %p
  %b Description:
  = @customer.description
 
 - if can? :edit, Customer
  = link_to 'Edit', edit_customer_path(@customer)
