#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1= link_to @customer.fullname, @customer
 = render 'customer_overview'
 = render 'shared/customer_orders'
 
 %br
 - if can? :edit, Customer
  = link_to 'Edit', edit_customer_path(@customer)
