#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1 Listing orders
 
 %table
  %tr
   %th Purchase 
   %th Paid 
   %th Name 
   %th Product 
   %th Quantity
   %th Price 
   %th Subtotal 
   %th Due
   %th Paid 
   %th Ispaid
   - if can? :read, Order 
    %th 
   - if can? :update, Order 
    %th 
   - if can? :destroy, Order 
    %th 
 
   - @order_line_items.each do |li|
    %tr
     %td= mmddyy_date( li.order.purchase_date )
     %td= mmddyy_date( li.order.paid_date )
     %td= li.order.customer.fullname
     %td= li.product.name
     %td= li.quantity
     %td= li.price
     %td= li.subtotal
     %td= li.order.purchase_amount
     %td= li.order.paid_amount
     %td= li.order.ispaid
     - if can? :read, Order 
      %td= link_to 'Show', customer_order_path(li.order.customer, li.order)
     - if can? :update, Order 
      %td= link_to 'Edit', edit_customer_order_path(li.order.customer, li.order)
     - if can? :destroy, Order 
      %td= link_to 'Destroy', customer_order_path(li.order.customer, li.order), :method => :delete, :data => { :confirm => 'Are you sure?' }
 
