#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %h1= and_show_count_of @orders
 - unless @orders.empty?
  %table{:id => 'orders_table', :class => 'tablesorter' }
   %thead
    %tr
     %th Date 
     %th Customer 
     %th Status 
     %th Items 
     %th Due
     %th Paid Date
     %th Paid Amount
     %th Ispaid?
     - if can? :update, Order 
      %th 
     - if can? :destroy, Order 
      %th 
   %tbody
    - @orders.each do |order|
     %tr
      %td= mmddyy_date( order.purchase_date )
      %td= order.customer.fullname
      %td= order.status.title
      %td= "#{order.line_items.map{|i| i.to_s }.join('<br /> ')}".html_safe
      - if can? :read, Order
       %td= link_to "#{number_to_currency(cents_to_dollars(order.purchase_amount), :precision => 2)}", customer_order_path(order.customer, order)
      - else
       %td= number_to_currency(cents_to_dollars(order.purchase_amount), :precision => 2)
      %td= mmddyy_date( order.paid_date )
      %td= number_to_currency(cents_to_dollars(order.paid_amount), :precision => 2)
      %td= order.ispaid
      - if can? :update, Order 
       %td= link_to 'Edit', edit_customer_order_path(order.customer, order)
      - if can? :destroy, Order 
       %td= link_to 'Destroy', customer_order_path(order.customer, order), :method => :delete, :data => { :confirm => 'Are you sure?' }
