#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %h1= and_show_count_of @addresses 
 - unless @addresses.empty?
  %h1 Addresses
  
  %table
   %tr
    %th Street
    %th Suite
    %th City
    %th State
    %th Zip
    - if can? :read, Product
     %th
    - if can? :update, Product
     %th
     %th
  
   - @addresses.each do |address|
    %tr
     %td= address.street
     %td= address.suite
     %td= address.city
     %td= address.state
     %td= address.zip
     - if can? :create, Product
      %td= link_to 'Show', address
     - if can? :update, Product
      %td= link_to 'Edit', edit_address_path(address)
      %td= link_to 'Destroy', address, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
  %br
  - if can? :create, Product
   = link_to 'New Address', new_address_path
