#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %p
  %b Street:
  = @address.street
 %p
  %b Suite:
  = @address.suite
 %p
  %b City:
  = @address.city
 %p
  %b State:
  = @address.state
 %p
  %b Zip:
  = @address.zip
 - if can? :edit, Address 
  = link_to 'Edit', edit_address_path(@address)
 - if can? :edit, Address 
  \|
  = link_to 'Back', addresses_path
