= form_for @role, :html => {:id => 'new_role_form'} do |f|
  - if @role.errors.any?
    = render :partial => 'shared/error_explanation', :object => @role, :as => :object

  .field
    .width_medium
      = f.label :name
    = f.text_field :name
  .field
    .width_medium
      = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'
