#scan_column
 = render 'shared/sidebar_menu'
#content
 %p
  %b Name:
  = @role.name
 %p
  %b Description:
  = @role.description
 
 - if can? :edit, Role
  = link_to 'Edit', edit_role_path(@role)
  \|
 = link_to 'Back', roles_path
