%p#notice= notice

%p
  %b Content:
  = @email.content
%p
  %b Email type:
  = @email.email_type_id
%p
  %b Created by:
  = @email.created_by
%p
  %b Updated by:
  = @email.updated_by

= link_to 'Edit', edit_email_path(@email)
\|
= link_to 'Back', emails_path
