= form_for @product do |f|
 - if @product.errors.any?
  = render :partial => 'shared/error_explanation', :object => @product , :as => :object

 .field
  = f.label :name
  = f.text_field :name
 .field
  = f.label :description
  = f.text_area :description, :cols => 20, :rows => 5
 .field
  = f.label :count, 'Unsold Quantity'
  = f.text_field :count
 .field
  = f.label :price
  = f.text_field :price, :value => number_to_currency(cents_to_dollars(f.object.price), :precision => 2, :unit => '')
 = f.fields_for :sewings do |builder|
  .field
   = builder.label :fabric
   = builder.select :fabric_id, Fabric.order('name asc').all.collect {|r| [r.name, r.id]}, {:include_blank => true}
   = builder.check_box :_destroy 
   = builder.label :_destroy, "Remove" 
 = f.fields_for :todos do |builder|
  .field
   = builder.label :content, 'Todo'
   = builder.text_field :content, :size => 30, :maxlength => 30
 = f.fields_for :fyis do |builder|
  .field
   = builder.label :content, 'Fyi'
   = builder.text_field :content, :size => 30, :maxlength => 30
  
 .actions
  = f.submit 'Save'
