= form_for @product do |f|
  - if @product.errors.any?
    = render :partial => 'shared/error_explanation', :object => @product , :as => :object

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
