= form_for @product, :html => {:id => 'new_product_form'} do |f|
 - if @product.errors.any?
  = render :partial => 'shared/error_explanation', :object => @product , :as => :object

 .field
  = f.label :name
  = f.text_field :name, :id => 'name'
 .field
  = f.label :description
  = f.text_area :description, :cols => 40, :rows => 5, :id => 'description'
 .field
  = f.label :count, 'Unsold Quantity'
  = f.text_field :count, :id => 'count'
 .field
  = f.label :price
  = f.text_field :price, :value => number_to_currency(cents_to_dollars(f.object.price), :precision => 2, :unit => ''), :id => 'price'
 - count = 0
 = f.fields_for :sewings do |builder|
  %div{:class=>'field', :id => "fabric_#{count}", :style=>'width:500px;border:1px red solid;'}
   = builder.label :fabric
   = builder.select :fabric_id, Fabric.order('name asc').all.collect {|r| [r.name, r.id]}, {:include_blank => true}
   - unless f.object.new_record?
    = builder.check_box :_destroy 
    = builder.label :_destroy, "Remove"
   %div{:id => "additional_fabric_#{count}", :style=>'display:inline;border:1px red solid;color:red'}
    Another Fabric? 
  - count += 1
  
 = f.fields_for :todos do |builder|
  .field
   = builder.label :content, 'Todo'
   = builder.text_field :content, :size => 30, :maxlength => 30
 = f.fields_for :fyis do |builder|
  .field
   = builder.label :content, 'Fyi'
   = builder.text_field :content, :size => 30, :maxlength => 30
  
 .actions
  = f.submit 'Save', :id => 'product_form_button'
