= form_for @product, :html => {:id => 'new_product_form'} do |f|
 - if @product.errors.any?
  = render :partial => 'shared/error_explanation', :object => @product , :as => :object

 .row
  .span5
   = f.label :name
   = f.text_field :name, :id => 'name'
 .row
  .span5
   = f.label :description
   = f.text_area :description, :cols => 40, :rows => 5, :id => 'description'
 .row
  .span5
   = f.label :count, 'Unsold Quantity'
   = f.text_field :count, :id => 'count'
 .row
  .span5
   = f.label :price
   = f.text_field :price, :value => number_to_currency(cents_to_dollars(f.object.price), :precision => 2, :unit => ''), :id => 'price'
 - count = 0 
 = f.fields_for :sewings do |builder|
  .row 
   %div.span10{:id => "fabric_#{count}"}
    .span6
     .span4
      = builder.label :fabric
      = builder.select :fabric_id, Fabric.order('name asc').all.collect {|r| [r.name, r.id]}, {:include_blank => true}
     .span2{:style => 'display:inline;float:left;'} 
      - unless f.object.new_record?
       - # .span1{:style => 'display:inline;float:left;'} 
       .span1{:style=>'margin-right:15px;margin-top:-3px;'}
        = builder.check_box :_destroy
       .span1
        = builder.label :_destroy, "Remove"
    .span4
     - if count < f.object.sewings.length-1
      %div{:id => "additional_fabric_#{count}", :class => 'open_another_item'}
       = link_to "Another Fabric?", :remote => true

  - count += 1
  
 = f.fields_for :todos do |builder|
  .row
   .span5
    = builder.label :content, 'Product Todo'
    = builder.text_field :content, :size => 75, :maxlength => 50
 = f.fields_for :fyis do |builder|
  .row
   .span5
    = builder.label :content, 'Product Fyi'
    = builder.text_field :content, :size => 75, :maxlength => 50
         
 .row     
  %br
  .actions
   = f.submit 'Save', :id => 'product_form_button', :class => 'btn btn-primary'
