#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %h1= and_show_count_of @products 

 - if can? :create, Product
  = link_to 'New Product', new_product_path

 - unless @products.empty?
  %table{:id => 'products_table', :class => 'tablesorter' }
   %thead
    %tr
     %th ID 
     %th Name
     %th Qty 
     - if can? :read, Note 
      %th Fyi
      %th Todo 
     %th Price
     %th Fabrics
     %th Description
     - if can? :update, Product
      %th
     - if can? :destroy, Product
      %th
   
   %tbody
    - @products.each do |product|
     %tr
      %td= product.id
      - if can? :read, Product
       %td= link_to product.name, product
      - else
       %td= product.name
      %td= product.count
      - if can? :read, Note 
       %td= product.string_array_of_fyis.join('<br />').html_safe
       %td= product.string_array_of_todos.join('<br />').html_safe
      %td= number_to_currency(cents_to_dollars(product.price), :precision => 2)
      - # %td= "#{product.sewings.collect{ |s| s.fabric.name}.flatten.join('<br />')}".html_safe
      %td= product.sewings.collect{ |s| s.fabric.name}.flatten.join(' / ')
      %td= product.description
      - if can? :update, Product
       %td= link_to 'Edit', edit_product_path(product)
      - if can? :destroy, Product
       %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
