#scan_column
 = render 'shared/sidebar_menu'
#content
 %h1 Listing products
 
 %table
  %tr
   %th Name
   %th Description
   %th Price
   - if can? :update, Product
    %th
    %th
    %th
 
  - @products.each do |product|
   %tr
    %td= product.name
    %td= product.description
    %td= product.price
    - if can? :update, Product
     %td= link_to 'Show', product
     %td= link_to 'Edit', edit_product_path(product)
     %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
 
 %br
 - if can? :create, Product
  = link_to 'New Product', new_product_path
