#scan_column
 = render 'shared/sidebar_menu'
#content_area
 %h1
  Product:
  = @product.name
 = render 'action_menu'
 %br
 %br
 = render 'product_overview'
 - if @notes.empty?
  %h4 No Notes
 - else
  %h4= "Notes (#{@notes.length})"
  = render 'notes/list'
