.span2
 = render 'shared/sidebar_menu'
.span10
 .row
  .span5
   %h1
    Product:
    = @product.name
 .row
  .span5
   = render 'action_menu'
 .row
  .span5
   = render 'product_overview'
 .row
  .span10
   - if @notes.empty?
    %h4 No Notes
   - else
    %h4= "Notes (#{@notes.length})"
    = render 'notes/list'
 
 = render 'history'