#footer
 %p#footer_text
  %strong Good Links:
  = link_to 'Scarves', products_path 
  |
  = link_to 'Roles', roles_path 
  |
  = link_to 'Users', users_path
  %br

  %strong About Us:
  = link_to 'Who We Are', root_path 
  |
  = link_to 'Why Choose uNido', root_path 
  |
  = link_to 'Contact Us', root_path
  %br

 %p{ :style => "width:960px;margin:0 auto;font-size:11px;" }
  %span{ :style => "color:#6D8D24;" }
   &copy; 2013 uNido In Oakland, Inc.
  Some fine print.  Some fine print.  Some fine print.  Some fine print.
