!!!
%html
 %head
  %title
   uNido Scarves 
   \|  
   = "#{params[:controller].capitalize}"
  = stylesheet_link_tag "application", :media => "all" 
  = javascript_include_tag "application" 
  = csrf_meta_tags 
 %body 
  = render 'shared/login_nav'
  %br
  %br
  = render 'shared/notice'
  = yield 
