!!!
%html
 %head
  %title
   uNido Scarves | Login
  = stylesheet_link_tag "general", :media => "all"
  = stylesheet_link_tag params[:controller] 
  = javascript_include_tag "application" 
  = csrf_meta_tags 
 %body 
  = render 'shared/login_nav'
  %br
  %br
  = render 'shared/notice'
  = yield 
